.Home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Top {
  font-size: 4rem;
  text-align: center;
  color: white;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.Top label {
  color: #6e4f2c;
}

.Bottom {
  font-size: 7rem;
  text-align: center;
  color: white;
  letter-spacing: 0.25rem;
  padding: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
}

.Bottom label {
  color: #b7854a;
}

.Button {
  padding: 0.75rem;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0.25rem;
  margin-top: 1.25rem;
  width: 20%;
  border: none;
  outline: none;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}

.Button:hover {
  transform: scale(1.1);
}

.First {
  background-color: #b7854a;
  margin-left: 30%;
}

.Last {
  background-color: rgb(39, 39, 39);
  margin-left: 1rem;
}

/*Media Queries*/

@media (max-width: 650px) {
  .Top {
    font-size: 3rem;
  }
  .Bottom {
    font-size: 5rem;
  }
}

@media (max-width: 600px) {
  .Top {
    font-size: 3rem;
  }
  .Bottom {
    font-size: 5rem;
  }
}

@media (max-width: 475px) {
  .Top {
    font-size: 2.5rem;
  }
  .Bottom {
    font-size: 4.5rem;
  }
}

@media (max-width: 415px) {
  .Top {
    font-size: 2rem;
  }
  .Bottom {
    font-size: 4rem;
  }
}

@media (max-width: 375px) {
  .Top {
    font-size: 1.5rem;
  }
  .Bottom {
    font-size: 3.5rem;
  }
}

@media (max-width: 320px) {
  .Top {
    font-size: 1.5rem;
  }
  .Bottom {
    font-size: 3rem;
  }
}

@media (max-width: 280px) {
  .Top {
    font-size: 1rem;
  }
  .Bottom {
    font-size: 2rem;
  }
  .Button {
    width: 30%;
  }
  .First {
    margin-left: 20%;
  }
}
